* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    /* font-weight: 1000;
    font-style: normal; */
}

.container {
    margin-left: 25%;
    margin-right: 25%;
  }

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.navbar__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar__title img {
    width: 50px;
    height: 50px;
}

.navbar__navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.navbar__navbar li {
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    border: none;

}

.navbar__log {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.navbar__log_img1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.navbar__log_img1 p{
    text-align: center;
    justify-content: center;
}

.navbar__log_img1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar__log_img2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar__button {
    margin-top: 50px;
    width: 100%;
    height: 50%;


}

.navbar__button h1 {
    text-align: center;
    font-size: 70px;
}

.navbar__button__btn {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:none;
    justify-content: space-evenly;
}
.navbar__button__btn button{
    padding:10px;
    border:none;
    font-weight: bold;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}
.navbar__button__btn button:hover{
   border-bottom: 2px solid black; 
}  
.navbar__input{
    margin-top:25px;
    
}
.navbar__input__input input{
    width:80%;
    padding: 15px;
    border-radius: 25px;
    border:2px solid #E3E3E3;
} 
.navbar__input__input input:focus{
    outline:none;
}
.navbar__input__input button{
    padding:15px;
    border-radius: 25px;
    background-color: #7FE9C2;
    color:white;
    margin-left:10px;
    border:none;
}
.trip_image{
    margin-top: 80px;
    position: relative;
    
}
.trip_image img{
    background-color: #D8D3FB;
    border-radius: 20px;
    width: 100%;
    
}
.trip_image_box{
    
    width:30%;
    height: 20px;
    position:absolute;
    top:100px;
    left:80px;
    color:#301D49 ;
}
.trip_image_box b{
    background-color: white;
    padding: 3px;
}
.trip_image_btn button{
    margin-top: 20px;
    position:absolute;
    top:200px;
    left:80px;
    background-color:#301D49 ;
    color: white;
    padding: 10px;
    border-radius:10px;
}
.trip_image_btn button:hover{
    background-color:#7e71cf ;
}
.image__cover{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #FAF1ED;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.image__cover_image img{
    width:150px;
    height: 150px;
}
.image__cover__readnow{
    /* position: absolute;
    top:110px;
    left:1100px */
   
    vertical-align: left;
    margin-right: 10px;
    margin-top:90px;
}
.image__cover__readnow button{
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
.split_image h1,p{
    margin-top:20px;
}
.gallery_image{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top:20px;
}
.gallery_image_card
{
    width:250px;

}
.gallery_image_card img{
    width:100%;
    height:70%;
    border-radius: 10px;
}


.gallery_image_card h1{
    position: absolute;
    top:130px;
    align-items: center;
    left: 50px;
    color: white;
    
}
.image_resent{
    margin-top: 20px;
    padding:10px;
}
.gallery_image_view
{
    
    position: relative;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top:20px;

}
.gallery_image_view_img{
    width:250px;
}
.gallery_image_view_img img{
    width:100%;
    height:140%;
    border-radius: 10px;
}
 

.gallery_image_view_img h1{
    position: absolute;
    top:130px;
    align-items: center;
    left: 50px;
    color: white;
    
}

